# sensitive git properties that should not be stored anywhere except locally
build.properties

# OSX file system
.DS_Store*
Thumbs.db

# Sublime Text specific
*.sublime*
config/

# Images and general files
ehthumbs.db
Icon?
*.sh
*.xls*
*.csv
*.graffle

# Non-essential docs
*.pdf
