# ANT config files
build.*

# OSX file system
.DS_Store*
Thumbs.db

# Sublime Text specific
*.sublime*
config/

# Images and general files
ehthumbs.db
Icon?
*.sh
*.xls*
*.csv

# Non-essential docs
*.pdf
